.top
  .top-content
    // *PHOTO SECTION
    .photo
      img(src='https://i.imgur.com/pe2GpkA.jpg', alt='photo')
      h1 LATOYA FOWLER GADSDEN
    // *PHOTO SECTION ENDS
    // *INFO SECTION STARTS
    .info
      .title
        | FULL STACK DEVELOPER
      .contact
        .url
          a(href='https://twitter.com/RealBossMoves1', target='_blank')
            i.fa.fa-twitter(style='font-size: 36px; color: #000080;background-color: #40e0d0;')
          span twitter.com/realbossmoves1
        .url
          i.fa.fa-skype(style='font-size:36px;color:#000080;background-color: #40e0d0;')
          span cid.3f4e25565e8462de
        .url
          i.fa.fa-envelope-o(style='font-size:36px;color:#000080;background-color: #40e0d0;')
          span realbossmoves2@gmail.com
    // *INFO SECTION ENDS
// *SPACE
// *EXPERIENCE STARTS
.content
  .max-width
    // 
    .left
      // 
      .experience
        .con-title.ex-title EXPERIENCE
        .ex-content
          .ex-con-left
            .dot
            .vertical-line
          .ex-con-right
            h3 Export Logistics Account Representative
            h5 Odyssey Logistics and Technology
              span ｜2020-05 ~ present 
            p Manage 3 export accounts
              br
              |In terms of Logistics, we export polymers internationally.
              br
              |Duties: Utilization of spreadsheet and database to manage,track,create documentation, and billing.
      // EXPERIENCE SECTION ENDS
      // *EDUCATION SECTION STARTS
      .education
        .con-title.ed-title EDUCATION
        .ed-content
          .ed-con-left
            .dot
            .vertical-line
          .ed-con-right
            h3 WEB DEVELOPEMENT FUNDAMENTALS CERTIFICATE
              br
              |Nucamp Bootcamp 2021-2021
            h3 FULL STACK DEVELOPER CERTIFICATE
              br
              |Nucamp Bootcamp 2021-2021
            h3 INTRODUCTION TO IT & CYBERSECURITY
              br
              |Cybrary.IT 2021-2021
            h3 INFORMATION SECURITY FUNDAMENTALS
              br
              |Cybrary.IT 2021-2021
      // ENDS EDUCATION SECTION
    // SPACE
    
      //SKILLS SECTION BEGINS
      .skills
        .con-title.sk-title SKILLS
        .skill-content
          .skill-con-left
            .skill-bar
              span HTML
              .skill-level
                .yes
                .yes
                .yes
                .yes
                .no
            .skill-bar
              span CSS
              .skill-level
                .yes
                .yes
                .yes
                .yes
                .no
            .skill-bar
              span JavaScript
              .skill-level
                .yes
                .yes
                .yes
                .no
                .no
          .skill-con-right
            .skill-bar
              span Python
              .skill-level
                .yes
                .yes
                .no
                .no
                .no
            .skill-bar
              span Bootstrap
              .skill-level
                .yes
                .yes
                .yes
                .no
                .no
            .skill-bar
              span PHP
              .skill-level
                .yes
                .yes
                .no
                .no
                .no
      //  SKILLS ENDS
      // PORTFOLIO STARTS
      .portfolio
        .con-title.sk-title PORTFOLIO
        .po-content
          .po-con-right
            a(href="https://codepen.io/ldfowler/" target="_blank")
              i(class="fa fa-codepen" style="font-size:100px;")
            span CODEPEN
          .po-con-middle
            a(href="https://latoyafowler.wixsite.com/my-site" target="_blank")
              i(class="fa fa-wordpress" style="font-size:100px;")
            span WEBSITE
          .po-con-left
            a(href="https://github.com/ianchen0419" target="_blank")
             i(class="fa fa-github" style="font-size:100px;")
             span GITHUB
      // PORTFOLIO ENDS
      // YOU CAN SEE MORE OF MY PROJECTS AND CODE ON GITHUB.COM/LDFOWLER
      // YOU CAN ALSO SEE BLOG POSTS ON https://careerkarma.com/profile/ckm3ty7gx0oue08350shgnu4q/